.header-container {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  padding: var(--spacing-small);
  background-color: var(--color-dark);
}

.header-counter {
  padding-right: var(--spacing-small);
  font-weight: bold;
  cursor: pointer;
}
